  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Merriweather&display=swap');

  .container video
  {
    position: relative;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
      position: ce;
      bottom: 0;
      left: 0;
      z-index: 1 !important;
  }
  .container .overlay
  {
      position: absolute;
      top: 30;
      left: 20px;
      width: 100%;
      z-index: 2;
      display: none;
      align-items: center;
    

  }

  .boton {
    float: right;
  }

  .top{
    font-family: 'Merriweather', serif;
    font-size: 15px;
    margin-top: 15px;
    padding-left: 10px;
  }
  #pregunta1 {
    background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 200px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }


  #pregunta2 {
    background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }

  #pregunta3 {
    background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta4 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 150px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta5 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta6 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }
  
    #pregunta7 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta8 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta9 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta10 {
      background-color: white;
      border-radius: 10px;
      margin-top: -247px;
      width: 40%;
      height: 200px;
      color: black;
      margin-left: 420px;
      border-left-width: 5px;
      border-left-style: solid;
      border-top-width: 5px;
      border-top-style: solid;
      border-right-width: 5px;
      border-right-style: solid;
      border-bottom-width: 5px;
      border-bottom-style: solid;
    }

    #pregunta11 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta12 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #pregunta13 {
      background-color: white;
    border-radius: 10px;
    margin-top: -247px;
    width: 40%;
    height: 130px;
    color: black;
    margin-left: 420px;
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    }

    #button {
      background: green;
      border-radius: 3px;
      color: white;
      font-size: 16px;
      margin-top: 15px;
      
    }
    
    #after_submit{
      visibility: hidden;
      background: #0000ff;
      border-radius: 20px;
      float: left;
      font-size: 25px;
    }
    
    #input{
      display: block;
    }

    #ov1{
      background-color: #ffffff;
      border-radius: 15px;
      color: black;
      border-top-width: 5px;
      border-top-style: solid;
      border-left-width: 5px;
      border-left-style: solid;
      border-right-width: 5px;
      border-right-style: solid;
      border-bottom-width: 5px;
      border-bottom-style: solid;
      height: 155.617px;
      width: 25%;
      margin-top: -230px;
      margin-left: 300px;
    }

  #ov0{
    background-color: white;
    border-radius: 10px;
    padding-bottom: 100px;
    height: 100.233px;
    width: 30%;
    padding-right: 15px;
    margin-left: 400px;
    margin-top: -330px;
    color: black;
    border-width: 5px 5px 5px 4px;
    border-style: solid; 
  }

  #pregunta14{
    margin-top: -290px;
    margin-left: 300px;
  background: white;
  height: 157px;
  width: 45%;
  border-radius: 15px;
  border-left-style: solid;
  border-left-width: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-right-width: 5px;
  border-right-style: solid;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  }

  .container .overlay h3
  {
      font-size: 1em;
      color: #fff;
      font-weight: bold;
  }

  .titulo{
      color:white;
      margin-top: -450px;
      font-size: 300%;
      font-family: 'Merriweather', serif;
  }

  .tituloBajo{
    color: white;
    font-size: 300%;
    font-family: 'Merriweather', serif;

}

  #initialText{
    margin-left: -30px;
    margin-top: -50px;
  }

  #graduacionText{
    margin-left: -30px;
    margin-top: -20px;
  }

  #diedText{
    margin-left: -30px;
    margin-top: -50px;
  }

  #ligarText{
    margin-left: -30px;
    margin-top: -50px;
  }

  .button:hover{
          color: #333;
          border-color: #888;
          outline: 0;
  }

  h4{
        margin-bottom: 0px;
        font-size: 20px;
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
  @import url(https://fonts.googleapis.com/css?family=Inconsolata);
